$white: #FFFFFF;
$purple-light: #E6DFFF;
$purple: #AD93FF;
$green: #34E2C8;
$green-light: #52f4d9;
$gray-transparent: #363845c9;
$black: #0A0A1C;

.light {
    color: $purple-light;
}

.dark {
    color: $black;
}

.green {
    color: $green;
}
