@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Poppins:wght@400;600&display=swap');

//font-family
$title-font: 'Poppins', sans-serif;
$system-font: 'nunito', sans-serif;

//font-size
$small-font: 1.25em; //20
$medium-font: 1.5em; //24
$large-font: 2em; //32
$xl-font: 2.25em; //36
$xxl-font: 4.5em; //72

//font-weight
$light-font: 300;
$regular-font: 400;
$semibold-font: 600;
