.text-container {
    margin: 2em 0;
}

.margin-container {
    padding: 0 1.875em;
}

.mini-margin {
    margin-bottom: 0.5em;
}

.small-margin {
    margin-bottom: 1em;
}

.medium-margin {
    margin-bottom: 2em;
}

.large-margin {
    margin-bottom: 3em;
}

.xl-margin {
    margin-bottom: 8em;
}

.image-train {
    width: 370px;
    height: auto;
    margin: 4em 0;
}

.video-container {
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    width: 100%;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

.bg-container {
    background-color: $black;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.stats-container {
    margin: 9em 0;
}

.the-team {
    background-color: $gray-transparent;
    border-radius: 1em;
    margin-bottom: 6em;
}

.text-padding {
    padding: 2em 1em;
}

.hashtags {
    margin-bottom: 0.5em;
}

.hashtag {
    margin-right: 0.5em;
}

.girls {
    display: flex;
    justify-content: end;
    padding-bottom: 2em;
}

.z-index {
    position: relative;
    z-index: 1;
}

.bubble4 img {
    max-width: calc(330px + 20vw);
    max-height: calc(330px + 20vw);
    position: absolute;
    z-index: 0;
    left: -13em;
    top: calc(490px + 60vw);
}

.bubble5 img {
    max-width: calc(390px + 10vw);
    height: calc(390px + 10vw);
    position: absolute;
    z-index: 0;
    right: -10em;
    bottom: -12em;
}

.title-margin {
    margin: 4em 0 2em 0;
}

.mockup {
    @include flex-center;
    height: 50vh;
    position: relative;

    img {
        width: 260px;
        position: absolute;
        z-index: 1;
        bottom: -42%;
    }
}

#material-girls {
    position: absolute;
    top: 51%;
    z-index: 1;
    width: 20px;
    height: 20px;
}

#tell-me-why,
#gimme-more {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: $small) {
    .margin-container {
        padding: 0 2.5em;
    }

    @media screen and (max-height: 800px) {
        .mockup {
            img {
                bottom: -72%;
            }
        }
    }
}

@media screen and (min-width: $medium) {
    .margin-container {
        padding: 0 4em;
    }
}

@media screen and (min-width: $large) {
    .margin-container {
        padding: 0 8em;
    }
}