.container {
    width: 100%;
    max-width: 80em;
}

.accordion-item {
    background-color: $purple-light;
    border-radius: 1em;
    margin-bottom: 2em;
    padding: 1em 2em;
}

.accordion-link {
    text-decoration: none;
    color: $black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;

    img {
        width: 1.5em;
        height: auto;
        padding-left: 1em;
    }

    .icon-close {
        display: none;
    }
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;

}

.accordion-item:target .answer {
    max-height: 20em;
    transition: max-height 0.5s ease-in-out;
}

.accordion-item:target .accordion-link .icon-open {
    display: none;
}

.accordion-item:target .accordion-link .icon-close {
    display: block;
}