header {
    background-color: $black;
    position: relative;
    overflow: hidden;


    .bubble1 img {
        max-width: calc(330px + 20vw);
        height: calc(330px + 20vw);
        position: absolute;
        z-index: 0;
        right: -13em;
        top: -4em;

    }

    .bubble2 img {
        max-width: calc(360px + 10vw);
        height: calc(360px + 10vw);
        position: absolute;
        z-index: 0;
        left: -15em;
        top: 25em;
    }

    .bubble3 img {
        max-width: calc(450px + 20vw);
        height: calc(450px + 20vw);
        position: absolute;
        z-index: 0;
        right: -10em;
        bottom: -15em;
    }

    .bubbletune-logo {
        padding: 2.5em 1.875em;
        position: relative;
    }

    .header-container {
        padding: 2.5em 1.875em;
        margin-top: 7vh; //7
        height: calc(65vh);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    .header-text {
        h1 {
            line-height: 110%;
            max-width: 9em;
        }

        p {
            max-width: 18em;
        }
    }

    .header-cta {
        @include flex-center-column;

        a:first-child {
            margin-bottom: 1em;
        }
    }
}

.header-mockup {
    @include flex-center;
    height: 60vh; //60
    position: relative;

    img {
        width: 260px;
        position: absolute;
        z-index: 1;
        bottom: -30%;
    }
}

@media screen and (min-height: 820px) {
    .header-container {
        margin-top: 10vh;
    }

    .header-mockup {
        height: 50vh;
    }
}

@media screen and (min-width: $small) {
    header {
        .bubbletune-logo {
            padding: 2.5em;
        }

        .header-container {
            padding: 2.5em;
        }
    }

    @media screen and (min-width: $medium) {
        header {
            .header-container {
                padding: 2.5em 4em;
            }

            .header-text {
                h1 {
                    font-size: 3em;
                    max-width: 11em;
                }
            }
        }
    }

    @media screen and (min-width: $medium-large) {
        header {
            height: 100vh;

            .header-container {
                justify-content: space-around;
                padding: 2.5em 4em 0 4em;
            }

            .header-cta {
                @include flex-row;
                justify-content: flex-start;

                a:first-child {
                    margin: 0 1em 0 0;
                }

                a img {
                    width: 220px;
                }
            }

            .bubble3 img {
                display: none;
            }

            .header-mockup {
                height: max-content;
                position: relative;

                img {
                    width: calc(200px + 10vw);
                    position: absolute;
                    z-index: 1;
                    right: 4em;
                    bottom: -10em;
                }
            }

        }

    }

    @media screen and (min-width: $large) {
        header {
            .header-container {
                padding: 2.5em 8em;
            }

            .header-mockup {
                height: max-content;
                position: relative;

                img {
                    width: calc(200px + 12vw);
                    max-width: 350px;
                    position: absolute;
                    z-index: 1;
                    right: calc(7em + 4vw);
                    bottom: -10em;
                }
            }
        }
    }
}