header {
    background-color: $black;
    position: relative;
    overflow: hidden;

    .bubble1 img {
        max-width: calc(330px + 20vw);
        height: calc(330px + 20vw);
        position: absolute;
        z-index: 0;
        right: -13em;
        top: -4em;

    }

    .bubble2 img {
        max-width: calc(360px + 10vw);
        height: calc(360px + 10vw);
        position: absolute;
        z-index: 0;
        left: -15em;
        top: 25em;
    }

    .bubble3 img {
        max-width: calc(450px + 20vw);
        height: calc(450px + 20vw);
        position: absolute;
        z-index: 0;
        right: -10em;
        bottom: -15em;
    }

    .bubbletune-logo {
        padding: 2.5em 1.875em;
        position: relative;
    }

    .header-container {
        padding: 2.5em 1.875em;
        margin-top: 10vh;
        height: calc(65vh);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    .header-text {
        h1 {
            line-height: 110%;
        }

        p {
            max-width: 20em;
        }
    }

    .header-cta {
        @include flex-center-column;

        a:first-child {
            margin-bottom: 1em;
        }
    }
}

.header-mockup {
    @include flex-center;
    height: 50vh;
    position: relative;

    img {
        width: 260px;
        position: absolute;
        z-index: 1;
        bottom: -30%;
    }
}

@media screen and (max-height: 820px) {
    header {
        .header-container {
            padding: 2.5em 1.875em;
            margin-top: 7vh;
            height: calc(65vh);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            z-index: 1;
        }

        .header-mockup {
            @include flex-center;
            height: 60vh;
            position: relative;

            img {
                width: 260px;
                position: absolute;
                z-index: 1;
                bottom: -30%;
            }
        }
    }
}


@media screen and (min-width: $small) {
    header {
        .bubbletune-logo {
            padding: 2.5em;
        }

        .header-container {
            padding: 2.5em;
        }
    }

}

@media screen and (min-width: $medium) {
    header {
        .header-container {
            padding: 2.5em 4em;
        }
    }
}

@media screen and (min-width: $large) {
    header {
        .header-container {
            padding: 2.5em 8em;
        }
    }
}